<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString1"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString2"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString3"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString4"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString5"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString6"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString7"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString8"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString9"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString10"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString11"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString12"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString13"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString14"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString15"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString16"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString17"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MIS_ProgressiveDistributors.Properties.Settings.ProgressiveMISConnectionString18"
      connectionString="Data Source=LAPTOP-V0QEM882\SQLEXPRESS;Initial Catalog=ProgressiveMIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
